.contactWrapper {
  max-width: 700px;
  margin: auto;

  border-radius: 1.2rem;
}

.contactTitle {
  font-size: var(--text-2xl);
  text-align: center;
  font-weight: 900;
  line-height: 1;

  span {
    color: var(--brand);
  }

  @media (max-width: 768px) {
    font-size: var(--text-xl);
  }
}

.contactCopy {
  text-align: center;
  font-weight: 200;
  margin: 2.4rem 0;

  a {
    color: var(--brand);
  }

  a:hover {
    text-decoration: underline;
  }
}

.contactEmailWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}

.contactEmail {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;

  width: fit-content;

  font-size: var(--text-md);

  margin: auto;

  transition: 0.5s;

  padding: 12px 32px 12px 32px;
  border-radius: 1rem;
  background: var(--background-light);

  &:hover {
    color: var(--brand);
  }
}

.contactPhone {
  font-size: var(--text-md);
  color: var(--brand);
  cursor: pointer;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.8;
  }
}