.outlineButton {
  outline: none;
  border: 1px solid var(--brand);
  background: transparent;
  color: var(--brand);
  cursor: pointer;

  padding: 1.2rem 2.4rem;
  font-size: var(--text-sm);
  border-radius: 4px;

  position: relative;
  z-index: 20;
  overflow: hidden;
  transition: all 0.2s;

  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.outlineButton:hover {
  background: var(--brand);
  color: var(--background);
  transform: translateY(-2px);
}