.education {
    display: flex;
    flex-direction: column;
}

.itemWrapper {
    margin-bottom: 2.4rem;
    padding: 0 1.2rem 2.4rem;
    border-bottom: 1px solid var(--background-light);

    &:last-child {
        border-bottom: none;
        padding-bottom: 0;
    }
}

.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.2rem;

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.8rem;
    }
}

.title {
    font-size: var(--text-md);
    font-weight: bold;
    color: var(--text);
}

.degree {
    color: var(--brand);
    font-weight: bold;
}

.description {
    font-size: var(--text-sm);
    color: var(--text-light);
    line-height: normal;
    font-weight: 200;
}