:root {
  font-size: 62.5%;

  --background: rgb(17, 17, 17);
  --bg-opaque: rgb(17, 17, 17, 0.25);
  --background-light: rgb(35, 35, 35);
  --background-dark: rgb(8, 8, 8);

  --text: rgb(235, 236, 243);
  --brand: #BD5FFF;
  --brand-rgb: 189, 95, 255;

  --text-xs: clamp(1.4rem, 1rem + 1vw, 1.4rem);
  --text-sm: clamp(1.6rem, 1.2rem + 1.2vw, 1.8rem);
  --text-md: clamp(2rem, 1.6rem + 1.5vw, 2.2rem);
  --text-lg: clamp(2.8rem, 2.4rem + 2vw, 3.6rem);
  --text-xl: clamp(4rem, 3.5rem + 4vw, 5.6rem);
  --text-2xl: clamp(5.6rem, 5rem + 8vw, 9.6rem);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::selection {
  background: var(--brand);
  color: var(--background);
}

html,
body {
  max-width: 100vw;
  scroll-behavior: smooth;
  font-size: var(--text-sm);
}

body {
  color: var(--text);
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

.section-wrapper {
  position: relative;
  z-index: 10;
  max-width: 1150px;
  margin: auto;
  padding: 4.8rem 2.4rem;
  overflow: hidden;
}

@media (max-width: 768px) {
  .section-wrapper {
    padding: 7.2rem 2.4rem;
  }
}

.chip {
  font-size: var(--text-xs);
  background: var(--background-light);
  padding: 0.2rem 0.8rem;
  border-radius: 999px;
}