.links {
  display: flex;
  gap: 1.6rem;
  padding-top: 10px;

  @media (max-width: 480px) {
    gap: 1.2rem;
  }

  a {
    opacity: 0.5;
    position: relative;
    z-index: 20;
  }

  a:hover {
    color: var(--brand);
    opacity: 1;
  }
}